.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cover-container {
  background-color: #fff;
  position: relative;
  width: 300px;
  margin: 0 1rem;
  margin-bottom: 1rem;
}
.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #222;
}
.cover {
  width: 300px;
}
