@mixin social-color($color) {
  &::before {
    background-color: $color;
  }

  & > * {
    color: $color;
  }

  & > *:before {
    background-color: $color;
  }
}

.instagram {
  @include social-color(#e1306c);
}
.pinterest {
  @include social-color(#bd081c);
}
.at {
  @include social-color(#000);
}
